{
    "supported_platforms": ["linux"],
    "source": {
        "type": "git",
        "url": "https://github.com/bdkl/deadbeef-cui.git"
    },
    "make": {
        "type": "make",
        "root": "/",
        "makefile": "Makefile.legacy",
        "ENV": {
            "GTK3_CFLAGS": "$GTK310_CFLAGS",
            "GTK3_LIBS": "$GTK310_LIBS"
        },
        "out": [
            "ddb_misc_cui.so"
        ]
    }
}
