{
    "supported_platforms": ["linux"],
    "source": {
        "type": "git",
        "url": "https://github.com/bdkl/deadbeef-cui.git"
    },
    "cmake": {
        "root": "/",
        "ENV": {
            "GTK3_CFLAGS": "$GTK310_CFLAGS",
            "GTK3_LIBS": "$GTK310_LIBS"
        },
        "out": [
            "cui.so"
        ]
    }
}
